span.kaomoji {
  display: block;
}
.pager {
  background-color: #d8d8d8;
  text-align: center;
}
.pager a {
  color: #333;
}
.pager a:hover {
  color: #888;
}
.pager .active a {
  color: #fff;
}
.pager li {
  padding: 0 0.3em;
}